<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <% if (locals.tokenSession) { %>
    <header class="encabezado-usuario">
        <div class="div-encabezado-usuario">
            <a class="token-generacion" form="generar_TK" href="/token">
                <p>Token</p>
                <% if (locals.tokenAct) { %>
                <div class="token-estado token-estado_true">
                    <p id="tk_etatus">✔</p>
                </div>
                <% } else { %>
                <div class="token-estado token-estado_false">
                    <p id="tk_etatus">X</p>
                </div>
                <% } %>
            </a>
            <a class="eventos-header" href="#">
                <p>Soporte</p>
                <img src="../resources/img/user.png" alt="" width="100%" height="100%">
            </a>
            <a class="soporte-header" id="cerrar_sesion" href="/logout">
                <p>Cerrar Sesion</p>
                <img src="../resources/img/logout.png" alt="" width="100%" height="100%">
            </a>
        </div>

        <div class="usuario-informacion">
            <div class="estado-usuario">
                <p id="usr_status">✔</p>
            </div>
            <div class="img-usuario">
                <img src="../resources/img/user.png" alt="" width="100%" height="100%">
            </div>
            <div class="informacion-usuario">
                <p class="informacion-usuario-bienvenido">
                    Bienvenido
                </p>
                <p class="informacion-usuario-nombre">
                    <%= locals.username %>
                </p>
            </div>
        </div>
    </header>
    <% } else { %>
    <header class="encabezado-no-autenticado">
        <script>
            window.location.href = '/index';
        </script>
    </header>
    <% } %>
</body>
<script src="resources/js/eventos_header.js"></script>
</html>