<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../resources/css/header.css">
    <link rel="stylesheet" href="../resources/css/FormBasic.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encabezado</title>
</head>
<body>
    <% if (locals.username) { %>
    <header class="encabezado-usuario">
            <div class="div-encabezado-usuario">
                <a class="token-generacion" form="generar_TK" href="/token">
                    <p>Token</p>
                    <div class="token-estado">
                        <p id="tk_etatus">✔</p>
                    </div>
                </a>
                <a class="eventos-header" href="#">
                    <p>Soporte</p>
                    <img src="../resources/img/user.png" alt="" width="100%" height="100%">
                </a>
                <button class="soporte-header" id="cerrar_sesion">
                    <p>Cerrar Sesion</p>
                    <img src="../resources/img/logout.png" alt="" width="100%" height="100%">
                </button>
            </div>
    
            <div class="usuario-informacion">
                <div class="estado-usuario">
                    <p id="usr_status">✔</p>
                </div>
                <div class="img-usuario">
                    <img src="../resources/img/user.png" alt="" width="100%" height="100%">
                </div>
                <div class="informacion-usuario">
                    <p class="informacion-usuario-bienvenido">
                        Bienvenido
                    </p>
                    <p class="informacion-usuario-nombre">
                        <%= username %>
                    </p>
                </div>
            </div>
    </header>
    <% } else { %>
        <header class="encabezado-no-autenticado">
            <script>
                window.location.href = '/index';
            </script>
        </header>
    <% } %>
</body>
<script src="resources/js/eventos_header.js"></script>
</html>