.Botones_Principales_Formulario{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.Btn_Atras, .Btn_Limpiar, .Btn_Siguiente{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Btn_Atras > button, .Btn_Limpiar > button, .Btn_Siguiente > button{
    padding: 6% 0;
    border: 2px solid rgb(90, 142, 255);
    color: rgb(90, 142, 255);
    margin: 1% 0 ;
    border-radius: 45px;
    width: 90%;
    font-size: 20px;
    transition: 0.1s ease-in-out;
    background-color: rgb(221, 221, 221);
}

.Btn_Atras > button:hover, .Btn_Limpiar > button:hover, .Btn_Siguiente > button:hover{
    transition: 0.1s ease-in-out;
    background-color: rgb(90, 142, 255);
    transform: scale(.95);
    color: white;
}

.Formularios_DTE_P2{
    width: 100%;
    height: 25%;
}

