<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="resources/css/FormBasic.css">
    <link rel="stylesheet" href="resources/css/Administrar_DTE.css">
    <link rel="stylesheet" href="resources/css/header.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina_Principal</title>
</head>
<%- include('../header')%>
<body>
    <div class="administrar-dte">
        <a class="caja-administrar-dte" href="/administrar/tipo_dte">
            <div class="enviar-DTE" id="enviar-DTE">
                <div class="img-DTE">
                    <img src="resources/img/form.png" width="100%" height="100%" alt="img-DTE">
                </div>
                <div class="titulo-DTE">
                    <p>ENVIAR DTE</p>
                </div>
            </div>
        </a>
        <a class="caja-resgistro-dte">
            <div class="registros-DTE">
                <div class="img-registros-DTE">
                    <img src="resources/img/registros-dte.png" width="100%" height="100%" alt="registro-img-DTE">
                </div>
                <div class="titulo-registros-DTE">
                    REGISTROS
                </div>
            </div>
        </a>
    </div>

</body>
</html>