<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/FormBasic.css">
    <link rel="stylesheet" href="../resources/css/Menu_Lateral.css">
    <title>Menu Lateral</title>
</head>
<body>
    <div class="Menu_Lateral_DTE" id="Menu_Lateral_DTE">
        <div class="Seccion_Pasos_DTE">
            <a href="#" class="Seccion_Tipo_DTE">
                <div>
                    <p>Tipo DTE</p>
                </div>
            </a>

            <div class="Circulo"></div>
            <div class="Circulo"></div>
            <div class="Circulo"></div>

            <a href="#" class="Seccion_Emisor_DTE">
                <div>
                    <p>Emisor</p>
                </div>
            </a>

            <div class="Circulo"></div>
            <div class="Circulo"></div>
            <div class="Circulo"></div>

            <a href="#" class="Seccion_Receptor">
                <div>
                    <p>Receptor</p>
                </div>
            </a>

            <div class="Circulo"></div>
            <div class="Circulo"></div>
            <div class="Circulo"></div>

            <a href="#"  class="Seccion_Detalles">
                <div>
                    <p>Detalles</p>
                </div>
            </a>
        </div>
        <label for="checkboxT" class="Boton AbrirMenu">
            <div>
                <input type="checkbox" id="checkboxT" hidden>
                <p style="width: 100%; height: 100%;">|||</p>
            </div>
        </label>
    </div>
</body>
<script src="../resources/js/Menu_Lateral.js"></script>
</html>